.container {
    margin: auto;
    width: 50%;
    background-color: lightcoral;
}

#buttons {
    margin: 40px 0px 10px 20px;
}

h1 {
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#search {
    margin: 20px 0px 20px 275px;
}

#display {
    margin: 20px 0px 40px 200px;
}

#img {
    align-content: center;
}